.locationinput {
	border: 1px solid transparent;
}

.searchbutton:hover, .searchinput:hover {
	border: 1px solid #999;
	border-radius: 2px;
}

.point.link.icon {
	border: 1px solid #ddd;
}

.point.link.icon:focus {
	border-style: none;
	outline: none;
	box-shadow: 0 0 0 1px cyan;
}

@media only screen and (max-width: 400px) {
	.ui.stackable.two.column.grid {
		padding-top: 15px;
	}
}

@media only screen and (min-width: 401px) {
	.ui.stackable.two.column.grid {
		padding-top: 24px;
	}
}