.list-columns {
	list-style: none;
	-webkit-column-count: 2;
	column-count: 2;
	padding: 0;
	margin: 0 5px 0 0;
	text-align: left;
}

.container {
  display: flex;
}

.box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.box:first-child > span { margin-right: auto; }

.box:last-child  > span { margin-left: auto;  }

.venue-info {
	line-height: 30px;
	vertical-align: middle;
}

li.container {
	margin-top: 2px;
	margin-bottom: 1px;
}

li.container:focus {
	border: 1px solid cyan;
	border-radius: 5px;
}

li.container:hover {
	outline: none;
	border: 1px solid #ddd;
	border-radius: 5px;
}

li.container:focus:not(:hover) {
	border-style: none;
	outline: none;
	box-shadow: 0 0 0 1px cyan;
}